In [1]:
import numpy as np 
import pandas as pd

### Importing Dataset

In [3]:
dataframe=pd.read_csv('a2_RestaurantReviews_FreshDump.tsv',delimiter='\t',quoting=3)

In [4]:
dataframe.head()

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

## Let's perform Data Cleaning

In [5]:
import nltk
import re
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [7]:
all_stopwords= stopwords.words('english')
all_stopwords.remove('not')

In [8]:
corpus =[]
for i in range(0,100):
    review = re.sub('[^a-zA-Z]', ' ', dataset['Review'][i])
    review =review.lower()
    review =review.split()
    review = [ps.stem(word) for word in review if not word  in set(all_stopwords) ]
    review= ' '.join(review)
    corpus.append(review)

### Data Transformation

In [9]:
# Loading BOW dictionary
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
import pickle 
cvFile='C1_BoW_Sentiment_Model.pkl'
cv= pickle.load(open(cvFile,"rb"))

In [11]:
X_fresh =cv.transform(corpus).toarray()
X_fresh.shape

(100, 1420)

## Predictions (via  Sentiment Classifier)

In [12]:
import joblib 
classifier = joblib.load('C2_Classifier_Sentiment_Model')

In [13]:
y_pred=classifier.predict(X_fresh)
print(y_pred)

[0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0
 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [15]:
dataframe['predicted_label']= y_pred.tolist()
dataframe.head()

                                              Review  predicted_label
0                        Spend your money elsewhere.                0
1  Their regular toasted bread was equally satisf...                1
2  The Buffet at Bellagio was far from what I ant...                1
3                   And the drinks are WEAK, people!                0
4                         -My order was not correct.                0

## Now save that tsv file with sentiment analysis to see sentiment

In [16]:
dataframe.to_csv("c3_Predicted_Sentiments_Fresh_Dump.tsv", sep='\t', encoding='UTF-8', index=False)